{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html>
  {% tailwind_css %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django + Stripe Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script>
  </head>
  <body>
    <div class="pt-10 flex items-center justify-center text-3xl text-bold">
      <header>Purchase your Stack!</header>
    </div>
    <div class="p-10">
      <section class="section flex items-center justify-center">
        <div
          class="p-10 rounded-l-xl border border-blue-gray-100 rounded-xl bg-no-repeat lg:bg-contain bg-cover bg-right mb-5 w-2/3"
        >
          <p
            class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 font-bold mb-2"
          >
            Most Popuar Stack
          </p>
          <h3
            class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-blue-gray-900"
          >
            MERN
          </h3>
          <p
            class="block antialiased font-sans text-base font-light leading-relaxed text-inherit mt-2 mb-6 !text-base font-normal text-gray-500"
          >
            MERN stands for MondoDB, Express.js, React, and Node.js. It is a
            modern stack that uses a combination of modern frameworks and a no
            sql database to ensure you spin up your webapp as quicky as
            possible.
          </p>
          <button
            class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] flex-shrink-0"
            type="button"
            data-ripple-dark="true"
            id="submitBtn"
          >
            Purchase
          </button>
        </div>
      </section>
    </div>
  </body>
</html>
