<li>
    <a href="{{ repo_url }}">{{ repo_name }}</a>
    <form action="{% url 'github:create_webhook' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <select name="stack-id" required>
            {% for stack in stacks %}
                <option value="{{ stack.id }}">{{ stack.id }}</option>
            {% empty %}
                <option>No stacks available</option>
            {% endfor %}
        </select>
        <input type="hidden" name="repo-url" value="{{ repo_clone_url }}">
        <input type="hidden" name="repo-name" value="{{ repo_name }}">
        <button type="submit">Deploy</button>
    </form>
</li>
